<div class="page-title">Exercises</div>
<% exercises.forEach(exercise=>{%>
<div class="list-container">
  <a class="text" href="/exercises/<%=exercise.id%>"><%=exercise.name%></a>
  <div class="btn-container">
    <a class="btn btn-general" href="/exercises/<%=exercise.id%>">View</a>
    <a class="btn btn-general" href="/exercises/<%=exercise.id%>/edit">Edit</a>
    <%- include("../partials/delete",
    {url:`/exercises/${exercise.id}/delete`})%>
  </div>
</div>
<%})%>